<div class=wrapper-image-blur></div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" id="name-info-container">
      <% if @name.nil? %>

      <div class="alert alert-danger">
        Oh no, we cannot find that name!
      </div>

      <% else %>

      <h1 class="text-center"><%= @name.name %></h1>
      <%= @name.name %> is a name that is used in the following languages:
      <br><br>
      <div id="name-origin-all">
        <% @origins.each do |origin| %>

        <div class="name-origin">
          <div class="flag-icon-<%=origin.origin%> name-flag"></div>
          <div>
            <%= origin.origin %>
          </div>
        </div>
        <% end %>
      </div>

      <div class=similar-names-box>
        If you like <%= @name.name %>  you might also like:
        <br>
        <% @sample_soundex.each do |name| %>
        <span class="similar-names">
          <a  href="/name?name=<%= name['name'] %>">
            <%= name['name'] %>
          </a>

          <% end %>
        </span>
      </div>
      <h4>Frequencies</h4>
      <div id="chart-container">
      </div>
      <script>
        window.addEventListener('load', function() {
          App.frequencies.chart('<%= @name.name %>', '#chart-container');
        });
      </script>

      <% end %>


      <!--  SHARE FACEBOOK-->
      <div class="fb-share-button facebook" data-href="https://nomonomo.herokuapp.com/name?name={{name}}" data-layout="button" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnomonomo.herokuapp.com/name?name={{name.name}}%2F&amp;src=sdkpreparse">
          <i class="fa fa-facebook-official  fa-2x" aria-hidden="true"></i>
        </a>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
