<!--<#% @result.each do |n|  %>
<p><#%= n.name %></p>
<#%end  %>-->


<div class="background_image" >
  <div class="banner-content">
    <div class="container text-center">
      <div class="row">
        <br>
        <h1> Let's find your baby's name</h1>
        <!-- GENDER -->
        <div class="col-sx-6 col-offset-3">

         <div class="search-form">
           <%= form_tag({:controller => "names", :action => "soundex"}, {:method => :post}) do %>
           <!-- select boy or girl -->
           <%= label_tag( "Are you expecting a boy or girl?")%>
           <br>

           <%= select_tag :gender, options_for_select(@gender,@gender.first) %>
           <br>
           <%= submit_tag("Search", :class => "btn btn-primary") %>
           <% end %>
         </div>


         <div class="search-form">
         <%=  simple_form_for @names,
    :url => url_for(:action => 'soundex', :controller => 'names'),
    :method => 'post' do |f|%>
           <!-- select boy or girl -->
           <%= f.input :gender, label: 'What is your gender?', collection: [ ['M', 'Male' ], ['F', 'Female'] ], as: :radio_buttons, label_method: :last, value_method: :first, checked: @user.gender, item_wrapper_class: 'inline'%>
          <%end
          %>

          <input id="user_options_true" name="user[options]" type="radio" value="true" />
          <label class="collection_radio_buttons" for="user_options_true">Yes</label>
          <input id="user_options_false" name="user[options]" type="radio" value="false" />
          <label class="collection_radio_buttons" for="user_options_false">No</label>
        </div>




      </div>
    </div>
  </div>
</div>
</div>
