<h1>Soundex examples</h1>
<h3>This is the chosen gender</h3>
<%= session[:gender] %>
<h3>This is your sample</h3>
<div class="search-form">
<%= form_tag({:controller => "names", :action => "selection"}, {:method => :post}) do %>
 <!-- select boy or girl -->
 <%= label_tag( "Choose soundex")%>
 <br>

  <%= p session[:soundex_sample][0]['name'] %>

  <%= check_box_tag('soundex_names[]', session[:soundex_sample
    ][0]['name']) %>

      <%= p session[:soundex_sample][1]['name'] %>
  <%= check_box_tag('soundex_names[]', session[:soundex_sample
    ][1]['name']) %>

      <%= p session[:soundex_sample][2]['name'] %>
  <%= check_box_tag('soundex_names[]', session[:soundex_sample
    ][2]['name']) %>

      <%= p session[:soundex_sample][3]['name'] %>
  <%= check_box_tag('soundex_names[]', session[:soundex_sample
    ][3]['name'] )%>

    <%= p session[:soundex_sample][4]['name'] %>
<%= check_box_tag('soundex_names[]', session[:soundex_sample
  ][4]['name'] )%>

  <br>
 <%= submit_tag("Search", :class => "btn btn-primary") %>
 <% end %>
</div>
