<h1>Suggestions:</h1>

<p>
  Gender: <%= p params[:gender] %>
</p>
<p>
  Origin1: <%= p params[:origin0] %>
</p>
<p>
  Origin2: <%= p params[:origin1] %>
</p>
<p>
  Length: <%= p params[:length] %>
</p>
<p>
<% @sample.each do |name| %>
  <li><%= name['name'] %></li>
<% end %>
</p>


<p>
  <ul>
    <% @names.each do |name| %>
      <li>
        <% if name.gender === 'masculine' %>
          <i class="fa fa-male fa-fw"></i>
        <% elsif name.gender === 'feminine' %>
          <i class="fa fa-female fa-fw"></i>
        <% else %>
          <i class="fa fa-venus-mars"></i>
        <% end %>
        <%= name.name%>-<%= name.length %>

      </li>
    <% end %>
  </ul>
</p>
