<h1>Suggestions:</h1>

<p>
  Gender: <%= p session[:gender]%>
</p>
<p>
  Origin1: <%= p params[:origin0] %>
</p>
<p>
  Origin2: <%= p params[:origin1] %>
</p>
<p>
  Length: <%= p params[:length] %>
</p>
<h3>Names sample for soundex</h3>
<p>
   Soundex choice:
 <% cookies.signed[:soundex].each do |name| %>
  <%= p name %>
  <% end %>
</p>
<br>
<br>
<h3>Names by soundex</h3>

<%= link_to "start again", reset_path %>

<br>
<br>
<h3>Results from the parameters from the first page</h3>

<p>
  <ul>
    <% @names.each do |name| %>
      <li>

        <%= name.name%>

      </li>
    <% end %>
  </ul>
</p>
